<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Appointment Management System</a>
  
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/appointment/">Appointment Request</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Doctor List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Appoinment List</a>
      </li>
     
    </ul>
  </nav>